body {
	background: #f9f9f9;
}

.background {
	background: url('pictures/grreen-back.jpeg') repeat;
	background-size: cover;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	background: rgba(255, 255, 255, 0.85);
	padding: 40px;
	border-radius: 10px;
}

h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #333;
	text-align: center;
}

form {
	color: #333;
}

label {
	font-size: 18px;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 30px;
	border: none;
	background: none;
	border-bottom: 1px solid #333;
	color: #333;
	font-size: 16px;
}

input[type="submit"] {
	background: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

/* Add media query for screens smaller than 600px */
@media (max-width: 600px) {
	body {
		font-size: 16px;
	}
	.login-box {
		width: 80%;
		padding: 20px;
	}
	input[type="text"],
	input[type="password"] {
		font-size: 14px;
		margin-bottom: 20px;
	}
	input[type="submit"] {
		padding: 8px;
	}
}




